body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.css-1yk1gt9-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  border-radius: 50px;
  border: 2px solid #134b8a;
}

* {
  font-family: 'Kanit', sans-serif !important;
}

button.MuiButtonBase-root.MuiPaginationItem-root.MuiPaginationItem-sizeMedium.MuiPaginationItem-outlined.MuiPaginationItem-circular.Mui-selected.MuiPaginationItem-page.css-lqq3n7-MuiButtonBase-root-MuiPaginationItem-root {
  background-color: #134b8a;
  color: #ffffff;
}

.body-slider {
  height: 100vh;
  display: grid;
  place-items: center;
}

.slider {
  width: 100%;
  max-width: 800px;
  height: 140px;
  position: relative;
  /* overflow: hidden; */
}

.slide {
  width: 100%;
  max-width: 800px;
  height: 350px;
  position: absolute;
  transition: all 0.5s;
}

.slide img {
  width: 100%;
  height: 140px;
  object-fit: cover;
}

.btn {
  position: absolute;
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  border-radius: 50%;
  z-index: 10px;
  cursor: pointer;
  background-color: #fff;
  font-size: 18px;
}

.btn:active {
  transform: scale(1.1);
}

.btn-prev {
  top: 45%;
  left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-next {
  top: 45%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ffffff !important;
  background-color: #134b8a;
  border-radius: 50px;
}

span.MuiTabs-indicator.css-1aquho2-MuiTabs-indicator {
  display: none;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #1976d2 !important;
}